.nav{
	width: 100%;
	height: 50px;
	line-height: 50px;
	background: #2196f3;
	color: #ffffff;
	text-align: center;
}
.nav .nav-simple{
	width: 1180px;
	margin: 0 auto;
}
.nav .logo{
	float: left;
	font-size: 24px;
	cursor: pointer;
/*	font-weight: bold;*/
/*	margin-left: 95px;*/
}
/*.nav .logo img{
	margin: 7px;
}*/
.nav ul{
/*	float: left;*/
	display: inline-block;
/*	text-align: center;*/
/*	width: 500px;*/
/*	font: 16px/50px "HiraginoSansGB";*/
/*	margin: 0 auto;*/
/*	text-align: center;*/
/*	color: #ffffff;*/
}
.nav ul li{
	display: inline-block;
}
.nav .content li{
	width: 110px;
	cursor: pointer;
}
.nav.content{
	width: 713px;
}
/*.nav-simple .content span{
	padding-right: 10px;
}*/

.nav .userinfo{
/*	font-weight: bold;*/
	margin: 17.5px 0 17.5px 0;
	height: 15px;
	float: right;
	font: 14px "HiraginoSansGB" ;
/*	margin-right: 50px;*/
}
.nav .userinfo li{
/*	padding: 1px 10px 15px 10px;*/
/*	width: 83px;
	height: 15px;*/
	padding: 0 14px 0 14px;
	cursor: pointer;
}
.nav .userinfo li + li{
	border-left:solid #ffffff;
}