.s-Rcontent {
    background: #e7edf2;
    padding-bottom: 40px;
}
#f-zhuomian{
	border-left: 4px solid #4aaaf4;
    background-color: #f3f4f9;
}
.m-header {
    width: 100%;
    height: 40px;
    background-color: #FFFFFF;
    position: relative;
}

.m-nav {
    margin-left: 15px;
    width: 90px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-bottom: 2px solid #43a8f6;
    color: #368cef;
}

.m-table {
    width: 97%;
    height: 100%;
    background-color: #ffffff;
    margin: 20px;
}

.m-detail-header {
    /*position: relative;*/
    width: 100%;
    height: 80px;
    background-color: #ffffff;
    border-bottom: 1px solid #e8edf1;
}

.header {
    line-height: 35px;
    font-size: 18px;
    font-weight: 800;
    text-align: center;
    padding-top: 10px;
    margin-bottom: 0;
}

.publish-detail {
    line-height: 25px;
    text-align: center;
    font-size: 10px !important;
    margin-bottom: 0 !important;
    color: #989898;
}

.m-detail-content {
    width: auto;
    height: auto;
    margin-top: 35px;
    margin-left: 30px;
    margin-right: 30px;
}

.content {
    font-size: 14px;
    text-indent: 2em;
    line-height: 40px;
}